In [1]:
import pandas as pd

closing_prices = pd.DataFrame()
closing_prices['Closing Price'] = [10, 20, 30, 40, 50]

closing_prices

   Closing Price
0             10
1             20
2             30
3             40
4             50

In [2]:
closing_prices['EMA'] = pd.Series.ewm(closing_prices['Closing Price'], span = 3).mean()
closing_prices

   Closing Price        EMA
0             10  10.000000
1             20  16.666667
2             30  24.285714
3             40  32.666667
4             50  41.612903

In [3]:
closing_prices['MA'] = closing_prices['Closing Price'].rolling(window = 3).mean()
closing_prices

   Closing Price        EMA    MA
0             10  10.000000   NaN
1             20  16.666667   NaN
2             30  24.285714  20.0
3             40  32.666667  30.0
4             50  41.612903  40.0

In [12]:
!pip install yfinance

Collecting yfinance
  Downloading https://files.pythonhosted.org/packages/79/bd/d64719da8f5367f4d8b16e83507fa1d90942f433f748a4cf3ed7aa515d14/yfinance-0.1.63.tar.gz
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Collecting lxml>=4.5.1
  Downloading https://files.pythonhosted.org/packages/30/c0/d0526314971fc661b083ab135747dc68446a3022686da8c16d25fcf6ef07/lxml-4.6.3-cp37-cp37m-manylinux2014_x86_64.whl (6.3MB)
     |████████████████████████████████| 6.3MB 7.9MB/s
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2021.5.30)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Building wheels for collected packages: yfinance
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.63-py2.py3-none-any.whl size=23919 sha256=5ecb282873e663bb35101e2da63aed0dc173e5e5139d5a59ebe5a4977d551584
  Stored in directory: /root/.cache/pip/wheels/fe/a0/79/b73d4a0c535b421b88fc7b393936b371fabbfeaf979eca4050
Successfully built yfinance
Installing collected packages: lxml, yfinance
  Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
Successfully installed lxml-4.6.3 yfinance-0.1.63

In [13]:
import yfinance as yf

msft = yf.Ticker("MSFT")
hist = msft.history(period = "10d")
hist

                  Open        High  ...  Dividends  Stock Splits
Date                                ...
2021-06-30  270.690002  271.359985  ...          0             0
2021-07-01  269.609985  271.839996  ...          0             0
2021-07-02  272.820007  278.000000  ...          0             0
2021-07-06  278.029999  279.369995  ...          0             0
2021-07-07  279.399994  280.690002  ...          0             0
2021-07-08  276.899994  278.730011  ...          0             0
2021-07-09  275.720001  278.049988  ...          0             0
2021-07-12  279.160004  279.769989  ...          0             0
2021-07-13  277.519989  282.850006  ...          0             0
2021-07-14  282.350006  283.660004  ...          0             0

[10 rows x 7 columns]

In [ ]:
hist.to_csv('microsoft.csv')